body{
    background: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.logo{
    background-color: rgba(236, 153, 132, 0.336);
    color: white;
    animation: portada;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes portada {
    0%{background-color: rgba(236, 153, 132, 0.336);}
    50%{background-color:rgb(235, 101, 67)}
    100%{background-color: rgba(236, 153, 132, 0.336);}

}

.catarlogo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    animation: clipMe;
}

.intro  {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    color: aliceblue;
    text-shadow: 10px 10px 10px rgb(125, 125, 129);
}

.col{
    text-align: justify;
    margin-left: 10px;
    color: black;
    text-shadow: 2px 2px 2px rgba(218, 45, 14, 0.281);
    background-color: rgba(240, 191, 163, 0.562);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.grupos {
    background-color: coral;
    width:40px;
    height:40px;
    border-radius:150px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin: auto;
}

.fecha{
    background-color: aliceblue;
    font-size: 1em;
    text-shadow: 2px 2px 2px rgba(34, 31, 15, 0.205);
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.ban{
    width:30px;
    height:30px;
    border-radius:150px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-left: auto;
    margin-right: auto;
}







.abifoto{
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}





.imgRedonda {
    width:100px;
    height:100px;
    border-radius:150px;
    margin-left: auto;
    margin-right: auto;
    border-color: blueviolet;
    border-width: 5px;
    border-style:double;
}


 
.icono{
    align-items: center;
    width:50px;
    height:50px;
    border-radius:150px;
    margin-left: auto;
    margin-right: auto;
}


.cel{
    display: flex;
    justify-content: left;
    text-align: left;
}
